*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


@-webkit-keyframes current-time-animation {
    from {-webkit-text-stroke: 4px; -webkit-text-stroke-color: white; text-shadow: none;}
    50% { -webkit-text-stroke: 6px; -webkit-text-stroke-color: #2e82bb; text-shadow: green;}
    to {-webkit-text-stroke: 4px; -webkit-text-stroke-color: white; text-shadow: none;}
}

.wrapper{
    position: relative;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20vh;
    border: 5px solid #ccc;
    height: 470px;
    font-family: "proxima-nova",sans-serif;
    font-weight: 100;
    font-size: 3em;

}

.row{
    width: 100%;
    display: block;
}

.current-time{
    /*color: red;*/
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white/*#d2d2d2*/;
    /*text-shadow: 0 0 300px #ccc;*/
    -webkit-animation-name: current-time-animation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.quarter{
    width: 25%;
    float: left;
}
.third{
    width: 33%;
    float: left;
}

.ten{
    width: 10%;
    float: left;
}
.twenty {
    width: 20%;
    float: left;
}
.thirty {
    width: 30%;
    float: left;
}

.fourty{
    width: 40%;
    float: left;
}
.fifty {
    width: 50%;
    float: left;
}
.sixty{
    width: 60%;
    float: left;
}
.seventy{
    width: 70%;
    float: left;
}
.eighty{
    width: 80%;
    float: left;
}
.ninety{
    width: 90%;
    float: left;
}
.full{
    width: 100%;
    float: left;
}

#digital-clock{
    position: absolute;
    left: -50px;
    font-size: 12px;
}

#half{
    position: relative;
    /*left: 50px;*/
}

#one{

}
#two{

}
#three{

}
#four{

}
#five{

}
#six{

}
#seven{

}
#eight{

}
#nine{

}
#ten{

}