// Set up Colors
$background-color: green;
$primary-color: #000;
$font-chosen: proxima-nova;
$weight: 100;
$size: 30px;

$window-width: 500px;
$window-height: 250px;
$highlight-color: #2582bb;

// Animation

@-webkit-keyframes current-time-animation {
  from {-webkit-text-stroke: 4px; -webkit-text-stroke-color: white; text-shadow: none;}
  50% { -webkit-text-stroke: 6px; -webkit-text-stroke-color: $highlight-color;}
  to {-webkit-text-stroke: 4px; -webkit-text-stroke-color: white; text-shadow: none;}
}


/*Mixins*/
@mixin font-choice($font-chosen, $weight, $size){
  font-family: $font-chosen;
  font-weight: $weight;
  font-size: $size;
}

@mixin placement($alignment){
  position: relative;
  left: $alignment
}